.App {
  margin: 0.5rem auto;
  width: 90%;
}

.navbar-bg {
  background-color: black;
  border-radius: 7px;
  font-weight: 600;
  margin-bottom: 20px;
}

.nav-text {
  color: white !important;
}

.form-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-btn {
  margin-top: 20px;
  background-color: black;
  border: black;
}

.form-btn:hover,
.form-btn:active,
.form-btn:focus {
  background-color: #5fff00;
  border: #5fff00;
  color: black;
}

.listed-item {
  text-decoration: none;
  color: black;
  border: none;
}

.client-list {
  border: none;
}

.table-header {
  margin-left: 0.5rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

.table-titles-column {
  width: 16%;
}
.table-background {
  font-weight: 500;
}

.details-container {
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 7px;
  width: 94%;
}

.details-container.meeting,
.details-container.user {
  border: 2px solid lightgrey;
  box-shadow: 7px 6px 3px rgb(237, 236, 236);
}

.link-to-client {
  color: black;
  text-decoration: none;
}

.link-to-client:hover {
  color: black;
  text-decoration: underline;
}

.link-to-client span {
  margin-right: 5px;
}

.buttons-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.buttons-row a {
  color: white;
  text-decoration: none;
}

.buttons-row button {
  margin: 1rem 0.5rem 0;
  border-radius: 7px;
  font-size: 1rem;
}

.button-go-back {
  padding-top: 10px;
  margin-left: 0.5rem;
  color: black;
}
.button-go-back:hover {
  font-weight: bold;
  color: black;
}

.submit-button {
  margin-bottom: 10px;
}

.meeting-card {
  border-radius: 7px;
  border: none;
}
.meeting-client-details {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.meeting-client-details span {
  width: 26px;
}

.meeting-client-details p {
  margin-bottom: 0;
  font-size: 0.8rem;
  margin-right: 7px;
  font-size: 10px;
}

.meeting-client-details:hover {
  text-decoration: underline;
}

.meeting-card.link {
  margin: 10px 0;
  text-decoration: none;
  border: 1px solid lightgray;
  box-shadow: 7px 6px 3px rgb(237, 236, 236);
}

.meeting-card.link:hover {
  background-color: #5fff00;
}

.hamburger-menu {
  border-color: rgba(255, 255, 255, 0.4) !important;
}

.description-row {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.quill-container {
  border: 1px solid lightgrey;
  border-radius: 7px;
}

.quill-container > div {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.meeting-date {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.meeting-date-link {
  color: black;
}

.search-input {
  margin-bottom: 20px;
}

.error {
  font-size: 12px;
  color: red;
  padding: 10px 0;
}

.delete-container > button {
  margin-right: 10px;
}

.listed-item:hover {
  color: black;
  text-decoration: underline;
}

.delete-btn-confirm {
  background-color: #5fff00 !important;
  border: none;
  margin-top: 20px;
}
.delete-btn-confirm.meeting {
  margin-top: 0;
}

.hamburger-menu {
  background-color: black;
  outline: white;
}

.hamburger-menu li a {
  color: white;
  margin-left: 15px;
  background-color: transparent;
}

.hamburger-menu li a:hover {
  color: white;
  font-weight: 700;
  background-color: black !important;
  width: 100px;
}

.hamburger-menu li a button {
  color: white;
  background-color: transparent;
  border: none;
  margin-left: -5px;
}

.hamburger-menu li a button:hover {
  font-weight: 700;
}

.homepage-welcome-div,
.add-first-client-div {
  text-align: center;
  margin-top: 8rem;
}

.homepage-welcome,
.add-first-client {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.homepage-welcome:hover,
.add-first-client:hover {
  color: #5fff00;
}

.datepicker-input {
  width: 300px;
  border: 1px solid #ced4da;
  padding: 5px;
}

.meeting-count {
  background-color: #5fff00 !important;
  color: black;
  padding: 8px;
  font-size: 14px !important;
}

.today-date {
  text-align: right;
  margin-right: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid #5fff00;
  position: relative;
}

.today-date span {
  position: absolute;
  right: 240px;
  line-height: 1;
}

.span-icon {
  margin: 0 10px;
}

.card-text {
  margin-left: 36px;
}

@media (min-width: 860px) {
  .App {
    width: 900px;
    margin: 2rem auto;
  }

  .details-container {
    margin-top: 0;
    width: auto;
  }

  .form-container {
    width: 96%;
    margin-bottom: 20px;
  }

  .buttons-row {
    flex-direction: row;
  }

  .buttons-row button {
    margin: 2rem 0.5rem 1rem;
  }

  .meeting-card {
    position: relative;
  }
  .meeting-client-details {
    flex-direction: column;
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  .meeting-client-details span {
    position: absolute;
    right: 8rem;
    bottom: 0.6rem;
  }

  .client-details-page {
    display: flex;
    justify-content: flex-start;
  }

  .details-container.client {
    background-color: white;
  }

  .table-header-client-details {
    margin-bottom: 0;
  }

  .client-page-meetings-section {
    flex-grow: 5;
    padding-top: 10px;
  }
}
