.App {
  margin: 0.5rem auto;
  width: 90%;
}

.navbar-bg {
  background-color: #ec703a;
  border-radius: 7px;
  font-weight: 600;
  margin-bottom: 20px;
}

.nav-text {
  color: white !important;
}

.form-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-btn {
  margin-top: 20px;
  background-color: #ec703a;
  border: #ec703a;
}

.listed-item {
  text-decoration: none;
  color: black;
}

.table-header {
  margin-left: 0.5rem;
  margin-bottom: 30px;
}

.table-titles-column {
  width: 16%;
}
.table-background {
  font-weight: 500;
}

.details-container {
  margin: 30px auto 0;
  padding: 20px;
  background-color: #e0f1ed;
  border-radius: 7px;
  width: 94%;
}

.buttons-row {
  display: flex;
  flex-direction: column;
}

.buttons-row a {
  color: white;
  text-decoration: none;
}

.buttons-row button {
  margin: 1rem 0.5rem 0;
  border-radius: 7px;
  font-size: 1rem;
}

.button-go-back {
  padding-top: 10px;
  margin-left: 0.5rem;
}

.table-header {
  margin-top: 20px;
  margin-left: 3rem;
}

.meeting-card {
  position: relative;
  background-color: #e0f1ed;
  border-radius: 7px;
  border: none;
}
.meeting-client-details {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 10rem;
}

.meeting-client-details p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.meeting-card.link {
  margin: 10px 0;
  text-decoration: none;
}

.description-row {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  display: flex;
}

.description-content {
  margin-left: 40px;
  margin-top: -10px;
}

.quill-container {
  border: 1px solid lightgrey;
}

.quill-container > div {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.meeting-date {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.meeting-date-link {
  color: black;
}

@media (min-width: 860px) {
  .App {
    width: 900px;
    margin: 2rem auto;
  }

  .details-container {
    margin: 30px auto 0;
    padding: 20px;
    background-color: #e0f1ed;
    border-radius: 7px;
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .buttons-row {
    flex-direction: row;
  }

  .buttons-row button {
    margin: 2rem 0.5rem 1rem;
  }
}
